/* style awal */
body {
    padding: 0;
    margin: 0;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    line-height: 1.8rem;
}

/* akhir style awal */



/* style hero gambar */
header {
    display: flex;
    height: 100vh;
    background-image: url(img/perpustakaan.jpg);
    background-position: center;
    background-size: cover;
}


header h1 {
    text-align: center;
    color:rgb(245, 245, 245);
    font-size: calc(2vh + 2rem);
    margin: auto;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgb(136, 136, 136);
}

/* akhir style hero gambar */


/* style container */
.container {
    margin: auto;
    max-width: 800px;
    padding: 0 1.5em;
    text-align: justify;
}

.container .detail {
    padding: .5em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    margin: 2em auto;
}

.container h2 {
    text-align: center;
    text-transform: capitalize;
}

.container .title {
    margin: 2em 0;
    text-transform: capitalize;
    text-align: left;
}


.top-novel a {
    font-size: 1.2rem;
    color: rgb(71, 176, 184);
    text-decoration: none;
}

.top-novel a:hover {
    color: burlywood;
}

.top-novel dd {
    margin-bottom: 0.9em;
}


.gambar-ilust {
    display: flex;
}

.gambar-ilust img {
    margin: auto;
    width: 90vmin;
}

dd {
    margin-right: 2em;
}

/* akhir style container */


footer {
    display: flex;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0,.5);
    background-color: rgb(184, 184, 184);
    padding: .2em 0;
    height: calc(3vh + .5em);
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}